.target{
    background-color: #ffffff;
    width: 100%;
    overflow: hidden;
    border-radius: 1rem;
    position: relative;
    height: 20rm;
}
.target-img-content{
    text-align: center;
    margin-bottom: 7rem;
}
.target-img-content > img {
    margin: .5rem 0;
    border-radius: 1rem;
}
.target-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #171724;
    border-radius: 1rem 1rem 0 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 7rem;
}
.target-title{
    font-weight: 400;
    padding: 1rem .5rem .5rem .5rem;
}
.target-footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 .5rem;
}
.target-valor{
    padding: .5rem;
    font-size:  1.1rem;
    font-weight: 500;
}